langchain==0.2.16
langchain-community==0.2.16
langchain-openai==0.1.23
langchain-aws
boto3
streamlit
transformers
pyYaml
langchain-openai
python-dotenv
torch
pypdf
type_extensions
pypdf2
langchain-ollama
chromadb
